:root{
  --back_bg_color:#cff0b0;
  --header_bg_color:#6789c7;
  --text_color:#FFFFFF;
  --icon_color:#00ff99;
}
body{
    width: 100%;
    position: relative;
    background-color: var(--back_bg_color);
    padding: 0;
}
a{
    text-decoration: none;
}
.header{
    position: relative;
    width: 100%;
    min-width: 1000px;
    height: 180px;
    background-color: var(--header_bg_color);
    color:var(--text_color);
}
 